*,
*::before,
*::after{

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{

  background-image: linear-gradient(to right, #F9F5E0,#F4BCCD,#F5CBD9,#CACFF9);
  background-position: left;
  background-size: 500%;
  animation: clr-animation 5s infinite alternate;
  padding: 2rem;
  border-radius: 0 2rem 2rem 0;
}

@keyframes clr-animation{

  0%{
    background-position: left;
  }

  100%{
    background-position: right;
  }
}